.group {
  width: 100%;
  height: 56px;
  padding: 8px 16px;
  background-color: #f8f9ff;
  border-radius: 8px;
  border: 1px solid #5e6488;
  display: flex;
  flex-direction: column;
  label {
    font-size: 12px;
    line-height: 16px;
    color: #5e6488;
  }
  input {
    background-color: transparent;
    color: #03050f;
    border: none;
    font-size: 16px;
    line-height: 24px;
    outline: none;
  }
}
