*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: var(--font-family);
  background-color: #f8f9ff;
  color: #03050f;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  min-height: 100vh;
}
