@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --lato-font: "Lato", sans-serif;
  --font-family: "Poppins", sans-serif;
  --wrapper-width: 100%;
  --wrapper-max-width: 1120px;
  --view-display: grid;
  --view-grid-template-columns: repeat(4, 1fr);
  --view-grid-column-gap: 16px;
  --view-grid-row-gap: 16px;
}

@media (min-width: 768px) {
  :root {
    --view-grid-template-columns: repeat(12, 1fr);
    --view-grid-column-gap: 32px;
    --view-grid-row-gap: 32px;
  }
}