.presentation {
  display: grid;
  row-gap: 24px;
}
.presentation__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  display: flex;
  gap: 12px;
  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    span {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      font-weight: 700;
      padding: 2px 8px;
      border-radius: 4px;
      background: linear-gradient(90deg, #00f4e2 0%, #00ff7f 100%);
    }
    h1 {
      font-size: 28px;
      line-height: 36px;
      font-weight: 700;
    }
  }
  img {
    width: 136px;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
  }
}
.presentation__separator {
  border: 1px solid #ccd1ee;
}
@media (min-width: 768px) {
  .presentation {
    row-gap: 8px;
    img {
      display: none;
    }
  }
  .presentation__separator {
    display: none;
  }
}
@media (min-width: 1024px) {
  .presentation {
    max-width: 352px;
    margin-left: 32px;
    div {
      gap: 16px;
      span {
        font-size: 14px;
        padding: 4px 8px;
      }
      h1 {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}
